<!DOCTYPE html>
<html>
<head>
<title>Price Dashboard Demo</title>
</head>
<body>

<h1>This is a Price Dashboard Demo Project</h1>
<p>The project is based on Nodejs, express, ejs, highcharts, etc.</p>

</body>
</html>